.fc .fc-button-group > .fc-button.fc-button-active,
.fc .fc-button-group > .fc-button:active,
.fc .fc-button-group > .fc-button:focus,
.fc .fc-button-group > .fc-button:hover {
  z-index: 0;
}

.fc table {
  position: relative;
  z-index: 0;
}

.fc-day-today {
  background: transparent !important;
}
